/*******************************************
*TABLE OF CONTENTS
*=================
*1. DEFAULT OVERRIDES
*2. HEADER 
*3. MAIN
*4. FORM 
*5. FOOTER
*6. MEDIA QUERIES
*********************************************/

/*INTRO CSS */
/*To see inital positioning*/

/*header {
	border: 3px dashed blue;
}*/
/*main {
	border: 3px dashed yellow;
}
footer {
	border: 3px dashed red;	
}*/
/*section {
	border: 3px dashed green;
}*/

/*p {
	border: 3px dashed blue;
}
*/


/*===========================================================
/* 1. DEFAULT OVERRIDES */
/*=========================================================*/

h1, h2, h3, p, a {
	font-family: "helvetica", sans-serif;font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 100;
	
}

h3{
	font-size: 2em;
}
/*=========================================================
/* 2. HEADER */
/*=======================================================*/


/* Navigation */

#nav-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

li{
	display: inline;
	list-style-type: none;
}

.top-nav{
	text-align: center;
}

.nav-link{
	margin-left: 3%;
	margin-right: 3%;
}

#logo-white{
	max-width: 25%;
	margin-left: 2%;
}

/* End of Navigation */



.name{
	text-transform: uppercase;
	font-size: 5em;
	margin-left: 7%;
	color: white;
}

.title{
	font-size: 2em;
	margin-left: 7%;
	margin-top: -60px;
	color: white;
	
}
a {
	color: #F5FD4D;
	text-decoration: none;
}


/*======================================================
/* 3.MAIN */
/*=====================================================*/

body{
	background-image: url("images/liz.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


#creds-container{
	margin-top: 17%;
	margin-bottom: 17%;
}

#dw-arrow{
	display: block;
    margin-left: auto;
	margin-right: auto;
	max-width: 3%;
}

/* PORTFOLIO SECTION */

#port-heading{
	font-size: 2em;
	text-align: center;
	margin-top: 15%;
}

#port-heading-text{
	line-height: 4;
}

.snc-wrapper{
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin-top: 7%;
}

#snc-pic{
	max-width: 100%;
	border: 1px solid black;
}

.portfolio-wrapper{
	background-color: white;
	margin-left: -10px;
	margin-right: -10px;
}

.port-content{
	max-width: 900px;
	margin: 0 auto;
}

.lower-text{
	margin-top: -13px;
}

.left-col{
	max-width: 75%;
}




/*===========================================================
/* 5. FOOTER*/
/*=========================================================*/


.icon {
	padding-right: 0.1em;
	background: none;
}
#inst{
	max-height:  3em;
	width: auto;
	padding-right: 1em;
	margin-bottom: 5%;
	margin-top: 9%;
	margin-left: 33%;
	}
#fb{
	max-height:  3em;
	width: auto;
	padding-right: 1em;
	margin-bottom: 5%;
}#tw{
	max-height:  3em;
	width: auto;
	padding-right: 1em;
	margin-bottom: 5%;
}#li{
	max-height:  3em;
	width: auto;
	padding-right: 1em;
	margin-bottom: 5%;
}#gh{
	max-height:  3em;
	width: auto;
	padding-right: 1em;
	margin-bottom: 5%;
}#ut{
	max-height:  3em;
	width: auto;
	padding-right: 1em;
	margin-bottom: 5%;
}
