header{
    min-height: 1000px;
    h1, a {
        font-size: 16px;
    }
    #name{
        color: #383530;
        grid-column-start: 3;
        grid-column-end: 14;
    }
    #nav-container{
        display: grid;
        grid-template-columns: repeat(48, 1fr);
        grid-template-rows: repeat(20, 1fr);
        height: 540px;
        position: relative;
        #top-nav{
            grid-column-start: 26;
            grid-column-end: 47;
            #top-nav-ul{
                padding: 0;
            }
            li {
                margin-bottom: 10px;
                display: inline;
                list-style-type: none;
                margin-right: 4em;
                &:last-child{
                    margin-right: 0;
                }
            }
            
            .header-nav-link {
                display: inline-block;
                color: #000;
                text-decoration: none;
                color: white;
            }
            
            .header-nav-link::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: white;
                transition: width .3s;
            }
            
            .header-nav-link:hover::after {
                width: 100%;
            }
        }
    }
    #welcome-text-section{
        grid-column-start: 5;
        grid-column-end: 20;
        grid-row-start: 14;
        grid-row-end: 14;
        #welcome-text-scene-1{
            // color: white;
            font-size: 40px;
            background: linear-gradient(to right, #23074d , #BD4A4E );
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    #white-logo-container{
        grid-column-start: 23;
        grid-column-end: 44;
        grid-row-start: 8;
        grid-row-end: 5;
        #logo-white{
            max-width: 100%;
        }
    }
    #orange-square{
        background: linear-gradient(67.5deg, #BD4A4E 30%, #DB5B3C 70%);
        border-radius: 5%;
        grid-column-start: 26;
        grid-column-end: 39;
        grid-row-start: 7;
        grid-row-end: -3;
        z-index: -1;
    }
    .downward-arrow{
        display: grid;
        justify-content: center;
        margin-top: 7em;
        #dw-arrow{
            font-size: 50px;
            color: #BC4A4D;
            &:hover{
                animation: bounce 1.5s infinite;
            }
        }
    }
}


// KEYFRAMES

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform:translateY(0);
  }
	40% {
    transform:translateY(-30px);
  }
	60% {
    transform:translateY(-15px);
  }
}

