@import 'vars.scss';
@import 'header.scss';
@import 'port-pieces';

body{
    // background-color: grey;
    background: linear-gradient(-135deg, #504E45 2%, #998c78 18%, #e5e5e5 35%, #f5f5f5 84%);
    #page-wrapper{
        max-width: 1200px;
        margin: 0 auto;
    }
    h1, h2, h3, p, a, span, label {
        // font-family: "helvetica", sans-serif;font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
        font-family: 'Nunito', sans-serif;
        font-weight: 100;
    }
    h3{
        font-size: 2em;
    }
}