@import 'vars.scss';
@import 'header.scss';

body{
    // background-color: grey;
    background: linear-gradient(-135deg, #383530 2%, #998c78 18%, #e5e5e5 35%, #f5f5f5 84%);
    h1, h2, h3, p, a, span, label {
        // font-family: "helvetica", sans-serif;font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
        font-family: 'Nunito', sans-serif;
        font-weight: 100;
    }
    h3{
        font-size: 2em;
    }
}