@import 'assets/sass/vars.scss';
@import 'assets/sass/header.scss';
@import 'assets/sass/port-pieces.scss';
@import 'assets/sass/about-me.scss';
@import 'assets/sass/skills-tools.scss';
@import 'assets/sass/contact.scss';
@import 'assets/sass/footer.scss';


html {
    scroll-behavior: smooth;
}


body{
    overflow-x: hidden;
    overflow-y:scroll;
    #body__div_page-wrapper{
        max-width: 1200px;
        margin: 0 auto;
        border-left: 1px solid black;
        position: relative;
        margin-top: -10px;
        height: 120%;
        @media screen and (max-width: $custom-lg) {
            margin-left: 30px;
        }
        @media screen and (max-width: $extra-xs) {
            margin-left: 6px;
        }
    }
    h1, h2, h3, p, a, span, label {
        font-weight: 100;
        font-family: "helvetica", sans-serif;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
    }
    h2{
        font-size: 40px;
        background-color: #F5FD4D;
    }
    h3{
        font-size: 2em;
    }
    h1:focus,
    p:focus,
    a:focus,
    button:focus
    i:focus{
        box-shadow: (0 0 15px gray) !important;
        outline: none;
    }
}