#aboutme__section{
    max-width: 90%;
    margin: 0 auto;
    height: 566px;

    @media screen and (max-width: $custom-lg) {
        margin-left: 45px;
    }
    
    @media screen and (max-width: $md) {
        height: 650px;
    }

    @media screen and (max-width: $custom-md) {
        height: 700px;
    }

    @media screen and (max-width: $sm) {
        height: 1129px;
    }

    #aboutme__div--header-svg-container{
        position: relative;
        h2{
            width: 120px;
            padding-left: 15px;
            
        }
        #aboutme__svg_underline{
            position: absolute;            
            left: -65px;                                  
            width: 202px;
            top: 28px;
         
            @media screen and (max-width: $custom-lg) {
                left: -50px; 
                width: 185px;
                
            }
        }
    }

    #aboutme__div--container{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 30px;
        height: 393px;

        @media screen and (max-width: $md) {
            grid-row-gap: 30px;
        }

        @media screen and (max-width: $sm) {
            grid-template-columns: 1fr;
            grid-template-rows: 150px 200px 200px 200px;
            grid-row-gap: 30px;
        }

        #aboutme__h3{
            grid-column: 1 / span 5;
            @media screen and (max-width: $md) {
                grid-column: 1 /span 6;
                margin-bottom: 10px;
            }
            @media screen and (max-width: $sm) {
                grid-column: unset;
            }
        }

        #imagine__div{
            grid-column: 1 /span 2;
            @media screen and (max-width: $md) {
                grid-column: 1 /span 3;
            }
            @media screen and (max-width: $sm) {
                max-width: 450px;
                margin: 0 auto;
                grid-column: unset;
            }
        }
        #organize__div{            
            grid-column: 3 / span 2;
            @media screen and (max-width: $md) {
                grid-column: 4 /span 3;
                grid-row: 2;
            }
            @media screen and (max-width: $sm) {
                grid-column: unset;
                max-width: 450px;
                margin: 0 auto;
            }
        }
        #produce__div{            
            grid-column: 5 / span 2;
            @media screen and (max-width: $md) {                
                grid-column: 1 /span 3;
            }
            @media screen and (max-width: $sm) {
                max-width: 450px;
                margin: 0 auto;
                grid-column: unset;
            }
        }


        #aboutme__div--resume{   
            grid-column: 6/ span 1;
            background-color: $yellow;
            padding: 8px;
            height: 21px;
            margin-top: 35px;
            width: 95px;        
            a{
                color: black;
                text-decoration: none;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    top: 26px;
                    left: -8px;
                    display: block;
                    width: 0;
                    height: 2px;                    
                    border-bottom: 1px solid black;
                    transition: width .3s;
                }
                &:hover::after {
                    width: 111px;
                }
            }
            @media screen and (max-width: $md) {
                grid-column: 5 /span 2;
                grid-row: 3;
            }
            @media screen and (max-width: $sm) {
                grid-column: unset;
                grid-row: 5;
            }
        }
    }

        .aboutme__div--items{        
            border: 1px solid rgba(60, 61, 60, 0.15);;
            height: 100%;
            width: 100%;
            h3, p{
                padding: 0 20px !important;
            }
        }
   // }
}