form{
	min-height: 485px;
	.modal-content {
		background-color: #fefefe;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 30%;	
		height: 29vw;
		min-height: 400px;
		position: relative;
		display: grid;	
		grid-template-rows: repeat(22, 1fr);		
		grid-template-columns: repeat(25, 1fr);
		@media screen and (max-width: $custom-lg) {                
			width: 35%;
		}
		@media screen and (max-width: $small-md) {                
			width: 55%;
		}
		@media screen and (max-width: $custom-sm) {                
			width: 75%;
		}

		#contactForm__div-h2Container{
			position: absolute;
			top: 5%;
			left: 5%;
		}
		h2{
			background-color: $yellow;
			font-size: 30px;
			margin-top: unset;
			padding: 0 10px;
		}
		#contactForm__i_closeIcon{
			position: absolute;
			top: 0;
			right: 0;
			padding: 10px 20px;
			font-size: 40px;
		}
		input, textarea{
			border: 1px solid gray;
			&:focus{
				box-shadow: (0 0 15px gray) !important;
				outline: none;
			}
		}

		//Name
		#contactForm__label-name{
			grid-column: 1 / span 6;
			grid-row-start: 5;	
			text-align: end;
		}
		#contactForm__input-name{
			grid-column: 8 / span 14;
			grid-row-start: 5;
		}

		//Email
		#contactForm__label-email{
			grid-column: 1 / span 6;
			grid-row-start: 7;	
			text-align: end;
		}
		#contactForm__input-email{
			grid-column: 8 / span 14;
			grid-row-start: 7;	
		}

		//Message
		#contactForm__label-message{
			grid-column: 1 / span 6;
			grid-row-start: 9;	
			text-align: end;
		}
		#contactForm__input-message{
			grid-column: 8 / span 14;
			grid-row: 9 / span 10;
		}

		//Send Button
		#contactForm__div-sendButton{
			// grid-column: 10 / span 5;
			// grid-row: 23 / span 2;
			// display: flex;
			// justify-content: center;
			position: absolute;
			bottom: 12px;			
			left: 39%;
			#contactForm__button-sendButton{
				background-color: $yellow;
				height: 33px;
				width: 90px;				
				font-size: 15px;
				margin-bottom: 10px;
				position: relative;
				border: none;
				&:hover{
					cursor: pointer;
				}
				&:focus,
				&::selection{
					box-shadow: (0 0 15px gray) !important;
					outline: none;
				}
				&::after{
				content	: '';
				position: absolute;
				top: 30px;
				left: 1px;
				display: block;
				width: 0;
				height: 2px;
				border-bottom: 1px solid black;
				transition: width .3s;
				}
				&:hover::after {
                    width: 89px;
                }
			}
		}
	}
}


#contactForm__p-email-errorMessage,
#contactForm__p-name-errorMessage,
#contactForm__p-message-errorMessage{
	font-size: 12px;
	color: red;
	grid-column: 8 / span 15;
}
#contactForm__p-name-errorMessage{
	grid-row-start: 6;
}
#contactForm__p-email-errorMessage{
	grid-row-start: 8;
}
#contactForm__p-message-errorMessage{
	grid-row-start: 19;
	// grid-column: 8 / span 15;
}

.modal{
	z-index: 1; /* Sit on top */	
	left: 0;
	width: 100%;
	height: 50vh; 
	display: none;	 
}

.modal-clicked{
	position: fixed;
	top: 20%;
    left: 1%;
}
.modal-wrapper-modal-clicked{
	background-color:rgba(0,0,0,0.2);
	margin: -30px -10px;
	padding-top: 22px;
}
.modal-post-clicked-page-wrapper{
	z-index: -1;
}

.modal-post-clicked-header__section--toprow{
	background-color:rgba(0,0,0,-0.01);
}

#contactForm__div-message-sent-container{
	width: 30%;	
	height: 29vw;
	min-height: 400px;
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	display: flex;
	position: relative;
	#contactForm__p-message-sent{
		font-size: 35px;
		margin: auto;
	}
	#contactForm__i-closeIcon-messageSent{
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px 20px;
		font-size: 60px;
		z-index: 1000;
	}
}