

#thank-you-section{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    #thank-you-text{
        font-size: 60px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(211,211,211, 0.5);
        background: linear-gradient(67.5deg, #F5FD4D, rgba(211,211,211, 0.4));
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
    }
}
footer{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 40px;
    a{
        i{
            margin: 0 10px;
            &:hover{
               // color: blue;
               background: linear-gradient(67.5deg, #F5FD4D, rgba(211,211,211, 0.4));
               -webkit-text-stroke-width: 1px;
               -webkit-text-stroke-color: black;
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}