

#thank-you-section{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    min-height: 80px;
    #thank-you-text{
        font-size: 60px;
        color: black;
        background-color: $yellow;
        // min-height: 40px;
        @media screen and (max-width: $custom-xs) {                
            font-size: 55px;
        }
        @media screen and (max-width: $xs) {                
            font-size: 40px;
        }
        @media screen and (max-width: $extra-xs) {                
            font-size: 35px;
        }
    }
}
footer{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 40px;
    @media screen and (max-width: $custom-xs) {                
        font-size: 28px;
    }
    @media screen and (max-width: $extra-xs) {                
        font-size: 60px;
        margin: 0 10px;
        text-align: center;
    }
    a{
        i{
            margin: 0 10px;
            color: black;
            &:hover{
               // color: blue;
               background: linear-gradient(67.5deg, #F5FD4D, rgba(211,211,211, 0.4));
               -webkit-text-stroke-width: 1px;
               -webkit-text-stroke-color: black;
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}