.port-heading-text{
    max-width: 90%;
    margin: 0 auto;
    padding:25px 0;
}
.portfolio-wrapper{
    display: flex;
    grid-template-rows: 35px;
    grid-row-gap: 20px;
    max-width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    
    .port-piece-container{
        padding-bottom: 30px;
        #berryface-port-piece-img,
        #netboost-port-piece-img,
        #sb-port-piece-img,
        #snc-port-piece-img,
        #cc-port-piece-img
        {
            max-height: 372px;
            overflow: hidden;
            border-radius: 20px;
            img{
                border-radius: 20px;
                width: 525px;
                height: 375px;   
            }
        }
        #snc-port-piece-img{
            border: 1px solid black;
        }

        #berryface-port-piece-text,
        #netboost-port-piece-text,
        #sb-port-piece-text,
        #snc-port-piece-text,
        #cc-port-piece-text
        {
            position: absolute;
            bottom: 0;
            top: 0;
            height: 372px;
            opacity: 0;
            transition: 0.6s ease;
            background-color: rgba(95, 94, 94, 0.5);
            border-radius: 20px;
            h3, p {
                color: white;
            }
            &:hover{
                opacity: 1;
            }
        }
    }

    #berryface-container,
    #netboost-container,
    #stolen-bikes-container,
    #syn-key-container,
    #comrade-cafe-container {
        position: relative;
    }
}

.blur-img {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    border-radius: 55px !important;
    transform: scale(1.15);
}