#portfolio-data-page{
    height: 50px;
    position: absolute;
    width: 100%;    
    top: 600px;    
    z-index: -1;
    // @media screen and (max-width: $lg) {
    //     top: 1000px;
    // }
    @media screen and (max-width: $md) {
        top: 750px;
    }
    @media screen and (max-width: $custom-md) {
        top: 600px;
    }
    // @media screen and (max-width: $sm) {
    //     top: 625px;
    // }
    @media screen and (max-width: $custom-sm) {
        top: 625px;
    }
    @media screen and (max-width: $custom-xs) {
        top: 550px;
    }
    @media screen and (max-width: $xs) {
        top: 400px;
    }
}
#portfolio_section{    
    margin-bottom: 16vh;
    margin-top: 65px;
    #portfolio__div-h2-wrapper{        
        h2{
            width: 155px;
            padding-left: 15px;
            margin-left: 59px;
        }
    }
    #portfolio__svg_underline{
        position: absolute;
        top: 757px;
        left: -5px;
        width: 235px;
        @media screen and (max-width: $md ){
            top: 908px
        }
        @media screen and (max-width: $sm ){
            top: 808px;
        }
        @media screen and (max-width: $custom-xs ){
            top: 707px;
        }
        @media screen and (max-width: $xs ){
            top: 583px;
        }
    }
    #portfolio-data-page{
        min-height: 70px;
        display: block;
    }
    .port-heading-text{
        max-width: 90%;
        margin: 0 auto;
        padding:25px 0;
    }
    .portfolio-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;        
        grid-row-gap: 40px;
        max-width: 90%;
        margin: 0 auto;
        grid-column-gap: 35px;        
        margin-top: 50px;
        @media screen and (max-width: $lg) {
            justify-content: space-between;
        }
        @media screen and (max-width: $md) {   
            grid-template-columns: 1fr;         
            justify-content: space-evenly;
        }
        
        .port-piece-container{  
            .portfolio__div--port-piece-text-container{
                h3, p{
                    max-width: 85%;
                    margin-left: 5%;                    
                    @media screen and (max-width: $lg){
                        margin: 10px 0;
                        margin-left: 30px;
                    }   
                    @media screen and (max-width: $xs){
                        margin: 10px 0;
                        margin-left: 5px;
                    } 
                }
                h3{
                    @media screen and (max-width: $lg){
                        margin-top: 30px ;
                    } 
                }
                .portfolio__links{                   
                    padding: 10px;
                    text-decoration: none;
                    color: white;
                    border: 1px solid white;
                    &:hover{
                        background-color: white;                        
                        color : gray;
                        border: 1px solid white;
                    }
                    @media screen and (max-width: $xs){
                        color: black;
                        border: 1px solid black;
                        &:hover{
                            border: 1px solid gray;
                            background-color: gray; 
                            color: white;
                        }
                    } 
                }
                .portfolio__div--links-container{
                    position: absolute;
                    bottom: 40px;
                    left: 30px;
                    width: 100%;
                    display: flex;
                    a{
                        &:first-child, 
                        &:nth-child(2) {
                            margin-right: 10px;
                        }
                    }
                    @media screen and (max-width: $xs){
                        left: 5px;
                    } 
                    &:first-child,
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5) {
                        bottom: 14px !important; 
                    }
                }
            }
            

            #berryface-port-piece-img,
            #netboost-port-piece-img,
            #sb-port-piece-img,
            #snc-port-piece-img,
            #st-port-piece-img,
            #ipmp-port-piece-img,
            #cm-port-piece-img,
            #cc-port-piece-img
            {
                height: 355px;
                overflow: hidden;                
                @media screen and (max-width: $lg) {
                    height: 275px;
                    width: 420px;
                }
                @media screen and (max-width: $md) {
                    height: 470px;
                    width: 700px;
                }
                @media screen and (max-width: $sm) {
                    height: 270px;
                    width: 425px;
                }
                @media screen and (max-width: $xs) {
                    height: 200px;
                    width: 275px;
                }
                img{                    
                    width: 525px;
                    height: 355px;   
                    @media screen and (max-width: $lg) {
                        height: 275px;
                        width: 420px;
                    }
                    @media screen and (max-width: $md) {
                        height: 470px;
                        width: 700px;
                    }
                    @media screen and (max-width: $sm) {
                        height: 270px;
                        width: 425px;
                    }
                    @media screen and (max-width: $xs) {
                        height: 200px;
                        width: 275px;
                    }
                }
            }
            #snc-port-piece-img{
                border: 1px solid black;
            }
    
            #berryface-port-piece-text,
            #netboost-port-piece-text,
            #sb-port-piece-text,
            #snc-port-piece-text,
            #st-port-piece-text,
            #ipmp-port-piece-text,
            #cm-port-piece-text,
            #cc-port-piece-text
            {
                position: absolute;
                bottom: 0;
                top: 0;
                height: 355px;
                opacity: 0;
                transition: 0.6s ease;                                
                background-color: rgba(95, 94, 94, 0.75);
                @media screen and (max-width: $lg) {
                    width: 420px;
                    height: 275px;
                }
                @media screen and (max-width: $md) {
                    height: 470px;                   
                    width: 700px;
                }
                @media screen and (max-width: $sm) {
                    height: 270px;
                    width: 425px;
                }
                @media screen and (max-width: $xs) {
                    height: 275px;
                    width: 275px;
                    position: unset;
                    opacity: 1;
                    background-color: unset;
                }
                h3, p {
                    color: white;
                    @media screen and (max-width: $xs) {
                        color: black;                                                
                    }
                }
                &:hover{
                    opacity: 1;
                }
            }
        }
    
        #berryface-container,
        #netboost-container,
        #stolen-bikes-container,
        #syn-key-container,
        #symptom-tracker-container,
        #ipmp-container,
        #cm-container,
        #comrade-cafe-container {
            position: relative;
            @media screen and (max-width: $md){
                justify-self: center;
            }
        }
    }
    
    .blur-img {
        -webkit-filter: blur(10px);
        filter: blur(10px);
        // border-radius: 55px !important;
        transform: scale(1.15);
    }
    
    .remove-border-snc{
        border: 1px solid white !important;
    }
}

.custom-opacity-class{
    opacity: 1 !important;
}

.custom-focus-class{
    background-color: white; 
    color: gray !important;
}