#skills-and-tools-wrapper{
    max-width: 90%;
    margin: 0 auto;    

    @media screen and (max-width: $custom-lg) {
    margin-left: 45px;
    }

    #skills-and-tools-heading-text{
        width: 276px;
        padding-left: 15px;
        margin-bottom: 15vh
    }
    
    #skills-and-tools__svg_underline{
        position: absolute;
        top: 2682px;        
        left: -5px;
        width: calc(100% - 849px);
        @media screen and (max-width: $lg) {
            top: 2440px;            
            width: 343px;
        }
        @media screen and (max-width: $md) {
            top: 4689px;
            width: 343px;
        }
        @media screen and (max-width: $sm) {
            top: 3514px;
        }
    }

    #icon-container{
        height: 500px;
        display: grid;
        grid-template-columns: repeat(23, 1fr);
        grid-template-rows: repeat(11, 1fr);
        grid-row-gap: 5px;          

        @media screen and (max-width: $custom-md){
                        
        }
    
        .tool-icon-div {
            // border: solid 1px black;            
            display: grid;
            justify-content: center;
            text-align: center;
            grid-template-rows: 80px 10px;
            .tool-icon{                
                width: 55px;
                margin: 0 auto;
            }
        }
    
        .row-1{
            grid-row: 1 / span 3;
        }
        .row-2{
            grid-row: 5 /span 3;
        }
        .row-3{
            grid-row: 9 / span 3;
        }
    
        #item-1,
        #item-7,
        #item-13{
            grid-column: 1 / span 3;
        }
        #item-2,
        #item-8,
        #item-14{
            grid-column: 5 / span 3;
        }
        #item-3,
        #item-9,
        #item-15{
            grid-column: 9 / span 3;
        }
        #item-4,
        #item-10,
        #item-16{
            grid-column: 13 / span 3;
        }
        #item-5,
        #item-11,
        #item-17{
            grid-column: 17 / span 3;
        }
        #item-6,
        #item-12,
        #item-18{
            grid-column: 21 / span 3;
        }

        #item-7,
        #item-15,
        #item-17,
        #item-18{
            img{
                width: 40px;
            }
        }
        #item-7{
            img{
                margin-top: 10px;
            }
        }
    }
}

