$xs : 500px;
$custom-xs: 550px;
$custom-sm: 650px;
$large-sm : 700px;
$sm : 768px;
$small-md : 850px;
$custom-md : 900px;
$md : 992px;
$large-md : 1100px;
$lg : 1200px;
$custom-lg : 1250px;

$yellow: #F5FD4D;
