$xs : 500px;
$custom-xs: 550px;
$custom-sm: 650px;

$sm : 768px;
$custom-md : 900px;
$md : 992px;
$lg : 1200px;

$yellow: #F5FD4D;

// @import url(//db.onlinewebfonts.com/c/c1abe50701241db4325576abf409ee8c?family=HelveticaWorldW01-Bold);


// @font-face {font-family: "HelveticaWorldW01-Bold";
//     src: url("//db.onlinewebfonts.com/t/c1abe50701241db4325576abf409ee8c.eot");
//     src: url("//db.onlinewebfonts.com/t/c1abe50701241db4325576abf409ee8c.eot?#iefix") format("embedded-opentype"),
//     url("//db.onlinewebfonts.com/t/c1abe50701241db4325576abf409ee8c.woff2") format("woff2"),
//     url("//db.onlinewebfonts.com/t/c1abe50701241db4325576abf409ee8c.woff") format("woff"),
//     url("//db.onlinewebfonts.com/t/c1abe50701241db4325576abf409ee8c.ttf") format("truetype"),
//     url("//db.onlinewebfonts.com/t/c1abe50701241db4325576abf409ee8c.svg#HelveticaWorldW01-Bold") format("svg");
// }


// @font-face{
//     font-family: "Helvetica Bold";
//     src: url("/assets/font/Helvetica-Bold-Font.woff") format("woff");
// }

// @mixin font{
//     font-family: 'HelveticaWorldW01-Bold', 'Arial Black', sans-serif;
// }